
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498126718128'); /* IE9*/
  src: url('iconfont.eot?t=1498126718128#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498126718128') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498126718128') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498126718128#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlang:before { content: "\3436"; }

.icon-87:before { content: "\e677"; }

.icon-shouji:before { content: "\e618"; }

.icon-email:before { content: "\e6bf"; }

.icon-iconfontren:before { content: "\e613"; }

.icon-weixin:before { content: "\e62a"; }

.icon-github-copy:before { content: "\e608"; }

.icon-yuan-blog:before { content: "\e642"; }

