// 颜色定义规范
$color-background = #fff
$color-background-rheader = #20A0FF
$color-background-tab = #20A0FF
$color-background-introduce = #BEE1EB
$color-theme = #fff
$color-text = #fff
$color-text-active = #ccc
$color-text-introduce = #165EA8

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
